openapi: 3.2.0
info:
  title: TenneT Publications API
  version: '2026-09-23'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-23: 71 operation(s) read from 23 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; TenneT has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 0
    documentation: 71
    pages-with-code: 0
    pages-read: 23
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-23'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://developer.tennet.eu/specs/v1/public-api
  - https://developer.tennet.eu/specs/v1/merit-order-list
  - https://developer.tennet.eu/specs/v1/settlement-prices
  - https://developer.tennet.eu/specs/v1/metered-injections
  - https://developer.tennet.eu/specs/v1/reconciliation-prices
  - https://developer.tennet.eu/specs/v2/reconciliation-prices
  - https://developer.tennet.eu/specs/v1/balance-delta-high-res
  - https://developer.tennet.eu/specs/v1/available-border-capacity
  - https://developer.tennet.eu/specs/v1/settled-imbalance-volumes
  - https://developer.tennet.eu/specs/v1/reconciliation-control-data
  - https://developer.tennet.eu/specs/v1/frequency-restoration-reserve-activations
  - https://developer.tennet.eu/specs/v1/merit-order-list-bid-prices-incident-reserve
  - https://developer.tennet.eu/specs/public-api
  - https://developer.tennet.eu/specs/frequency-restoration-reserve-activations
  - https://developer.tennet.eu/specs/merit-order-list
  - https://developer.tennet.eu/specs/settlement-prices
  - https://developer.tennet.eu/specs/metered-injections
  - https://developer.tennet.eu/specs/reconciliation-prices
  - https://developer.tennet.eu/specs/balance-delta-high-res
  - https://developer.tennet.eu/specs/available-border-capacity
  - https://developer.tennet.eu/specs/settled-imbalance-volumes
  - https://developer.tennet.eu/specs/reconciliation-control-data
  - https://developer.tennet.eu/specs/merit-order-list-bid-prices-incident-reserve
servers:
- url: https://api.tennet.eu
tags:
- name: Publications
paths:
  /publications/v1/balance-delta-high-res/latest:
    get:
      operationId: get_publications_v1_balance_delta_high_res_latest
      tags:
      - Publications
      summary: Get Balance Delta high res latest data
      x-source: https://developer.tennet.eu/specs/v1/balance-delta-high-res
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
  /publications/v1/reconciliation-prices/{reconciliationpriceid}:
    get:
      operationId: get_publications_v1_reconciliation_prices_reconciliationpriceid
      tags:
      - Publications
      summary: Get Reconciliation Prices data by timeframe
      x-source: https://developer.tennet.eu/specs/v2/reconciliation-prices
      parameters:
      - name: reconciliationpriceid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
        collapsed_from: 2 example path(s) differing only at reconciliationpriceId
  /publications/v1/{v1id}:
    get:
      operationId: get_publications_v1_v1id
      tags:
      - Publications
      summary: Get Available Border Capacity by timeframe
      description: The Available Border Capacity for each PTU shows the total import and export border capacity, the total aFRR profile limit, and the available border capacities for Belgium and Germany.
      x-source: https://developer.tennet.eu/specs/v1/available-border-capacity
      parameters:
      - name: v1id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPublicationsV1V1IdResponse'
      x-evidence:
        kind: documentation
        collapsed_from: 10 example path(s) differing only at v1Id
components:
  schemas:
    GetPublicationsV1V1IdResponse:
      type: object
      properties:
        response_payload:
          type: object
          description: Successful response payload
        error_response:
          type: object
          description: Error response payload
